body{
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Dancing Script', cursive;
}
a:hover{
    background-color: rgb(230, 238, 231);
    color: rgb(10, 56, 8);
    border: 8px;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(160, 12, 12);
    text-decoration: solid;
}
.rambuttan{
    color:rgb(134, 12, 12)
}
.orange{
    color: rgb(224, 99, 27);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}